body {
  padding-top: 20px;
  background-image: url("images.jpg ");
  background-size: cover ;
  font-family: Arial ;
}

.box
{	
	position:absolute;
	bottom:45%;
	right:1% ;
	height: 300px;
    width: 700px;
	background-color : rgba(50,50,50,.8) ;
	color: white;
	padding-left: 10px ;
}

button {
    background-color: white ; /* Green */
    text-align: center;
    font-size: 16px;
}

.info{
	text-color : white ;
	font-size: 24px ;
}
.title {
	text-color : white ;
	font-size: 32px ;
	position:absoloute ;
	left : 50% ;
	top : 0%
}

.languagebuttons {
	position:absolute;
	top:0% ;
	right:0%
	
}

