<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="app.css" />
	<script src="bower_components/angular/angular.js"></script>
	<script src="app.js"></script>
  </head>
  <body>
	<div ng-controller="Ctrl"  class="box">
		<div class="title">
			<h2>Welcome to Demo !!</h2>
		</div>
		<div class="info">
			<p>Name : <input type="text" ng-model="name"></p>
			<button ng-click="validate()" name="welcome">Proceed</button>
			<button ng-click="cancel()" name="cancel">Cancel</button>
		</div>
	</div>
  </body>
</html>